.cm-chessboard {
  .arrow-warning {
    .arrow-head {
      fill: orange;
      fill-rule: nonzero;
    }
    .arrow-line {
      stroke: orange;
      stroke-linecap: round;
      opacity: 0.6;
    }
  }
  .arrow-danger {
    .arrow-head {
      fill: red;
      fill-rule: nonzero;
    }
    .arrow-line {
      stroke: red;
      stroke-linecap: round;
      opacity: 0.5;
    }
  }
  .arrow-success {
    .arrow-head {
      fill: green;
      fill-rule: nonzero;
    }
    .arrow-line {
      stroke: green;
      stroke-linecap: round;
      opacity: 0.5;
    }
  }
  .arrow-info {
    .arrow-head {
      fill: blue;
      fill-rule: nonzero;
    }
    .arrow-line {
      stroke: blue;
      stroke-linecap: butt;
      opacity: 0.4;
    }
  }
  .arrow-neutral {
    .arrow-head {
      fill: black;
      fill-rule: nonzero;
    }
    .arrow-line {
      stroke: black;
      stroke-linecap: round;
      opacity: 0.5;
    }
  }
}