$link: #068cdf;
$background: #f8f9fa;
$default: #333;
$code-background: #555;
$code: #eee;
$font-size: 17px;

body {
  color: $default;
  background-color: $background;
  padding: 20px;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.3;
  font-size: $font-size;
  * {
    font-size: $font-size;
  }
}

a {
  color: $link;
  &:visited {
    color: $default;
  }
  &:hover {
    color: darken($link, 10%);
  }
}

h1, h1 a {
  margin-top: 0;
  font-size: $font-size * 2;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 15px;
  font-size: $font-size * 1.4;
}

pre {
  font-family: "courier new", monospace;
  font-size: 90%;
  background-color: $code-background;
  color: $code;
  padding: 5px;
  overflow: auto;
}

div.board {
  float: left;
  max-width: 500px;
  width: calc(100vw - 40px);
  margin-right: 20px;
  margin-bottom: 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

button {
  padding: 4px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}