body {
  color: #333;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

a {
  color: #00e;
  &:visited {
    color: #333;
  }
}

h2 {
  margin-bottom: 15px;
}

pre {
  background-color: #555;
  color: white;
  padding: 5px;
  overflow: auto;
}