$link: #09d;
$background: #f8f9fa;
$default: #333;
$code-background: #555;
$code: #eee;

body {
  color: $default;
  background-color: $background;
  padding: 20px;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.3;
}

a {
  color: $link;
  &:visited {
    color: $default;
  }
  &:hover {
    color: $link;
  }
}

h1 {
  margin-top: 0;
}

h2 {
  margin-bottom: 15px;
}

pre {
  font-family: "courier new", monospace;
  font-size: 14px;
  background-color: $code-background;
  color: $code;
  padding: 5px;
  overflow: auto;
}