$dark: #b38964;
$light: #eedab6;

.cm-chessboard {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.6);
  .board {
    &.input-enabled {
      .square {
        cursor: pointer;
      }
    }
    .board-border {
      fill: $light;
    }
    .surrounding-line {
      stroke-width: 0.3%;
      stroke-linecap: round;
      stroke: $dark;
    }
    .square {
      &.white {
        fill: $light;
      }
      &.black {
        fill: $dark;
      }
    }
  }
  .coordinates {
    pointer-events: none;
    user-select: none;
    .coordinate {
      fill: $dark;
      font-size: 7px;
      cursor: default;
    }
  }
  .pieces, .markers {
    pointer-events: none;
  }
}