.svjs-chessboard {
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.6);
  .board-border {
    fill: #eedab6;
  }
  .surrounding-line {
    stroke-width: 0.3%;
    stroke: #b38965;
  }
  .square {
    &.white {
      fill: #eedab6;
    }
    &.black {
      fill: #b38965;
    }
  }
}