@import "cm-chessboard-theme";

// define markers (for all themes)
.cm-chessboard {
  .board {
    &.input-enabled {
      .square {
        cursor: pointer;
      }
    }
  }
  .markers {
    .marker {
      &.markerFrame {
        stroke: black;
        stroke-width: 1.8px;
        opacity: 0.5;
      }
      &.markerSquare {
        fill: black;
        opacity: 0.11;
      }
      &.markerDot {
        fill: black;
        opacity: 0.3;
      }
      &.markerCircle {
        stroke: #000055;
        stroke-width: 3px;
        opacity: 0.5;
      }
      &.markerCircleRed {
        stroke: #aa0000;
        stroke-width: 3px;
        opacity: 0.5;
      }
    }
  }

  .pieces, .markers {
    pointer-events: none;
  }
}

// define themes
@include cm-chessboard-theme(
                "default", // name
                #ecdab9, #c5a076 // squares
)
@include cm-chessboard-theme(
                "green", // name
                #E0DDCC, #4c946a // squares
)
@include cm-chessboard-theme(
                "blue", // name
                #EBF0F5, #678FB1 // squares
)
@include cm-chessboard-theme(
                "chess-club", // name
                #E6D3B1, #AF6B3F, // squares
                #AF6B3F, #E6D3B1, // coordinates in squares (white, black)
                #E6D3B1, // coordinates in frame-mode
                #692e2b, #692e2b // border and frame background
)
@include cm-chessboard-theme(
                "chessboard-js", // name
                #f0d9b5, #b58863, // squares
                #b58863, #f0d9b5, // coordinates in squares (white, black)
                #404040, // coordinates in frame-mode
                #404040, #f0d9b5 // border and frame background
)
@include cm-chessboard-theme(
                "black-and-white", // name
                #ffffff, #9c9c9c // squares
)