@import "cm-chessboard-mixin";

// define markers (for all themes)
.cm-chessboard {
  .markers {
    .marker {
      &.move {
        stroke: black;
        stroke-width: 2px;
        opacity: 0.5;
      }
      &.emphasize {
        stroke: #009900;
        stroke-width: 4px;
        opacity: 0.5;
      }
    }
  }
  .pieces, .markers {
    pointer-events: none;
  }
}

// define themes
@include cm-chessboard("default", #f5ddb3, #ceaa81)
@include cm-chessboard("green", #bddac4, #8ebd9b,
        #8ebd9b, #bddac4,
        rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5))
@include cm-chessboard("blue", #d7e3fc, #aec0e9,
        #aec0e9, #aec0e9,
        rgba(0,0,0,0.5), rgba(0,0,0,0.5),
        #d7e3fc)